.home {
  width: 100%;
  height: 100%;
  background-image: url("../assets/home/background-home-mobile.jpg");
  background-size: cover;
  background-position: bottom center;
}

@media (min-width: 35rem) {
  .home {
    background-position: center center;
    background-image: url("../assets/home/background-home-tablet.jpg");
  }
}

@media (min-width: 45rem) {
  .home {
    background-image: url("../assets/home/background-home-desktop.jpg");
  }
}
