.dialog{
    position:fixed;
    top:5em;
    justify-self:center;
    text-align:center;
    background: hsl(var(--clr-dark) / 0.05);
    backdrop-filter: blur(1.5rem);
    border-radius:10px;
    padding-block:1em;
    border:5px solid hsl(var(--clr-light) / .05);
}

form{
    flex-direction:column;
    align-items:flex-start;
    border-top: 2px dashed hsl(var(--clr-light) / 1);
    padding-block:.5em;
}

input{
    background-color:hsl(var(--clr-light) / 0.075);
    border:none;
    color:hsl(var(--clr-light) / 1)
}

.login-btn{
    margin-block:1em;
    width:100%;
    padding-block:.5em;
    border:1.5px dashed hsl(var(--clr-light) / 1);
    background: transparent;
    cursor:pointer;
}
