@media (min-width: 45em){
    .grid-container--home {
        padding-bottom: max(6rem, 20vh);
        align-items: end;
      }
    
      .grid-container--home > *:first-child {
        grid-column: 2;
        /* outline: 1px solid red; */
      }
      .grid-container--home > *:last-child {
        grid-column: 3;
        /* outline: 1px solid yellow; */
      }
}

/* Large Button */

.large-button {
  font-size: 2rem;
  position: relative;
  padding: 0 2em;
  display: inline-grid;
  z-index: 1;
  place-items: center;
  aspect-ratio: 1;
  border-radius: 50%;
  text-decoration: none;
  border:none;
}
.large-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: hsl(var(--clr-white) / 0.15);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}
.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

/* @media (min-width: 35em){
  .large-button{
    position:relative;
  }
} */