.main-container{
    position:absolute;
    width:100vw;
}
.dialog-book {
    background-color:hsl(var(--clr-dark) / 0.5);
    backdrop-filter: blur(1rem);
    border-radius: 10px;
    border: 5px solid hsl(var(--clr-light) / 0.05);
    width: 50vw;
    padding: 10px;
    margin:auto;
    margin-top:10%;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center
  }